fastapi
uvicorn[standard]
python-dotenv
pydantic
requests
numpy
google-generativeai
langchain-google-genai
sentence-transformers
qdrant-client
unstructured
pypdf
python-pptx
python-docx
beautifulsoup4
pdfplumber
logfire[fastapi,requests]
loguru
numba>=0.59.0
docling
mistralai
langchain
langchain-text-splitters
langchain-groq
flashrank
